<!doctype html>
<html>
<head>
    <a href="/newpost"><h1 style="color:red;text-align:right;font-size:16px">Add a New post </h1></a>
    <a href="/blog"> <h1 style="color:red;text-align:right;font-size:16px"> Main Blog page</h1></a>
    
    <style>
        .title {
            font-size: 20px
        }

        .blog {
            text-align: center;
            font-size: 14px;
        }

        .error {
            color: red
        }
    </style>
</head>
<body>
    {% block title %}{% endblock %}
    {% block content %}
    {% endblock %}

</body>
</html>